body{
    background-color:#333949;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.area-pesquisa{
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgb(211, 206, 198);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 14px black;
}

.area-pesquisa i{
    color: black;
    font-size: 34px;
    transition: all 0.2s ease;
}
.area-pesquisa i:hover{
    font-size: 37px;
}

.local-desejado{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.botao-consulta{
    padding: 10px;
    border-radius: 10px;
    background-color: #333949;
    color: rgb(226, 226, 226);
    cursor: pointer;
}